

<div class="row">
	<div class="span4">

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: "well"}) do |f| %>
  <%= devise_error_messages! %>

   <fieldset>
   	<legend>Register</legend>
   	
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :profile_name, :required => true, :hint => "this will be your URL, choose wisely" %>
    <%= f.text_area :description, id: "userdescription", :hint => "just 140 characters about yourself or your photojournal" %>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>

  

  
    <%= f.button :submit, "Sign up" %>
   </fieldset>
  
<% end %>

<%= render "devise/shared/links" %>

</div>

<div class="span8">
	<h2>Sign up</h2>
</div>

</div>
