<% content_for :head do %>
    <script type="text/javascript">
      var info;
      $(document).ready(function(){
        var options = {
          'maxCharacterSize': -2,
          'originalStyle': 'originalTextareaInfo',
          'warningStyle' : 'warningTextareaInfo',
          'warningNumber': 250
        };
        $('#entrycopylimited').textareaCount(options);

      });
    </script>

<% end %>

<%= simple_form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <%= f.text_area :copy, id: "entrycopylimited" %>

  <%= f.file_field :image %>

  <%= f.label :remote_image_url, "or image URL" %>
  <%= f.text_field :remote_image_url %>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
