<h1>Crop</h1>

<!-- <%= image_tag @entry.image.url(:large), id: "cropbox" %> -->


<!-- <%= image_tag @entry.image_url(:large), id: "cropbox" %> -->

<%= image_tag(@entry.image_url) %>

<%= form_for @entry do |f| %>
  <% %w[x y w h].each do |attribute| %>
    <%= f.hidden_field "crop_#{attribute}" %>
  <% end %>
  <div class="actions">
    <%= f.submit "Crop" %>
  </div>
<% end %>