<div class="page-header">
<h4>Photojournal Entries</h4>
</div>


<% @entries.each do |entry| %>

<div class="row">
<div class="entry">
  <div class="span4">

    <%= image_tag entry.image.url(:thumb), class: "img-polaroid" %>
  </div>
  <div class="span8">
    <strong><%= entry.copy %></strong>
    <div class="meta">
    <%= link_to time_ago_in_words(entry.created_at) + " ago", entry %> by <%= entry.user.email %>
    <%= link_to('edit', edit_entry_path(entry)) %>
    </div>
  </div>
</div>
</div>

<hr />

<% end %>
