<div class="row">
	<div class="span4">

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "well"}) do |f| %>
  <fieldset>
  	<legend>Sign In</legend>
    <%= f.input :email, :required => false, :autofocus => true %>
    <%= f.input :password, :required => false %>
    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
  

 
    <%= f.button :submit, "Sign in" %>
  </fieldset>
<% end %>

<%= render "devise/shared/links" %>

</div>

<div class="span8">
	<h2>Sign on in now, ya hear?</h2>
	<p>Remember how earlier, when you signed up, I (yea, that's right, apps are people too) told you how awesome this was and it would change your life and help you communicate better in crowds, and maybe even get dates?</p>
	<p>Well, guess who was right?</p>
	<h3>I WAS</h3>
	<p>How can I possibly know that? Well you're here, aren't you?</p>
	<p>Just sign in. Write cool things about cool pics, then go get confidence</p>
</div>
</div>
